<p-pickList
    [source]="fields"
    [target]="initialFields"
    [sourceHeader]="'global.available' | translate"
    [targetHeader]="'global.selected' | translate"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    filterBy="label"
    [sourceFilterPlaceholder]="'global.searchByLabel' | translate"
    [targetFilterPlaceholder]="'global.searchByLabel' | translate"
>
    <ng-template let-field pTemplate="item">
        <div class="field-box">
            <i class="pi pi-tag"></i>
            <h5 class="field-box--label">{{ getFieldLabel(field) }}</h5>
        </div>
    </ng-template>
</p-pickList>

<div class="p-modal-controls p-modal-controls--right">
    <div class="p-modal-controls__part"></div>

    <div class="p-modal-controls__part">
        <p-button
            icon="pi pi-check"
            [label]="'global.add' | translate"
            styleClass="p-button-outline"
            (click)="setFields()"
        ></p-button>
    </div>
</div>
