<div class="p-modal">
    <form [formGroup]="telegramForm">
        <ng-container *ngIf="!stage.isFilledInfoFields">
            <div class="p-field">
                <input
                    type="text"
                    pInputText
                    required
                    [placeholder]="'Telegram bot token'"
                    formControlName="key"
                />
            </div>

            <div class="p-field">
                <textarea
                    pInputTextarea
                    formControlName="welcomeMessage"
                    placeholder="Welcome message"
                    [autoResize]="true"
                ></textarea>
            </div> </ng-container
        >
        <ng-container *ngIf="stage.isFilledInfoFields">
            <div formGroupName="distribution">
                <div class="distribution-box">
                    <p class="user-item--method-title">Distribution method</p>
                    <p-selectButton
                        formControlName="method"
                        optionLabel="name"
                        optionValue="value"
                        [options]="methods"
                    ></p-selectButton>
                </div>

                <div class="p-field">
                    <p-listbox
                        filterBy="name.full"
                        [options]="data.users"
                        [(ngModel)]="telegramForm.value.distribution.users"
                        [ngModelOptions]="{ standalone: true }"
                        [metaKeySelection]="false"
                        [checkbox]="true"
                        [filter]="true"
                        [multiple]="true"
                        [listStyle]="{ 'max-height': '400px' }"
                    >
                        <ng-template pTemplate="header"> Users for distribution </ng-template>
                        <ng-template pTemplate="filter" let-options="options">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                <input
                                    type="text"
                                    pInputText
                                    placeholder="Filter"
                                    [(ngModel)]="filterValue"
                                    [ngModelOptions]="{ standalone: true }"
                                    (keyup)="options.filter($event)"
                                />
                            </div>
                            <button pButton icon="pi pi-times" class="p-button-text"></button>
                        </ng-template>
                        <ng-template let-user pTemplate="item">
                            <div class="user-item">
                                <p class="user-item__name">{{ user.data.name.full }}</p>

                                <div
                                    *ngIf="telegramForm.value.distribution.method !== 'queue'"
                                    class="p-field"
                                >
                                    <span>Coefficient: {{ user.coefficient }}%</span>
                                    <p-slider
                                        [step]="5"
                                        [min]="5"
                                        [max]="100"
                                        [(ngModel)]="user.coefficient"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-slider>
                                </div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
        </ng-container>

        <div class="p-modal-controls p-modal-controls--right">
            <p-button
                icon="pi pi-save"
                label="Next"
                [disabled]="telegramForm.invalid"
                (click)="nextStep()"
            ></p-button>
        </div>
    </form>
</div>
