<div *ngIf="config" class="toolbar">
    <div class="toolbar-part">
        <p-multiSelect
            appendTo="body"
            optionLabel="name"
            optionValue="id"
            [options]="config.labels"
            [(ngModel)]="filter.labelIds"
            (ngModelChange)="onFilter.emit(filter)"
        ></p-multiSelect>
    </div>
    <div class="toolbar-part">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
                type="text"
                pInputText
                [placeholder]="'global.search' | translate"
                [(ngModel)]="filter.search"
                (ngModelChange)="onSearch($event)"
            />
        </span>
    </div>
</div>
