<section class="integrations content-container content-container--large">
    <div class="settings-header">
        <h3 class="settings-header--title paramount-text">Integrations</h3>
        <p class="settings-header--description secondary-text">
            Manage integrations of your workspace and set their access level.
        </p>
    </div>

    <div class="integrations__wrapper">
        <div class="integration-box" (click)="openIntegrationControls('binotel')">
            <img
                src="/assets/images/integrations/binotel.webp"
                class="integration-box--image"
                alt=""
            />

            <div class="integration-box__info">
                <h4 class="integration-box--title paramount-text">Binotel</h4>
                <p class="integration-box--description secondary-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam alias
                    commodi blanditiis perferendis veniam. Perspiciatis nihil neque nostrum, eius
                </p>
            </div>
        </div>

        <div class="integration-box" (click)="openIntegrationControls('novaposhta')">
            <img
                src="/assets/images/integrations/novaposhta.webp"
                class="integration-box--image"
                alt=""
            />

            <div class="integration-box__info">
                <h4 class="integration-box--title paramount-text">Novaposhta</h4>
                <p class="integration-box--description secondary-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam alias
                    commodi blanditiis perferendis veniam. Perspiciatis nihil neque nostrum, eius
                </p>
            </div>
        </div>

        <div class="integration-box" (click)="openIntegrationControls('telegram')">
            <img
                src="/assets/images/integrations/telegram.webp"
                class="integration-box--image"
                alt=""
            />

            <div class="integration-box__info">
                <h4 class="integration-box--title paramount-text">Telegram</h4>
                <p class="integration-box--description secondary-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam alias
                    commodi blanditiis perferendis veniam. Perspiciatis nihil neque nostrum, eius
                </p>
            </div>
        </div>

        <div class="integration-box">
            <img
                src="/assets/images/integrations/gmail.webp"
                class="integration-box--image"
                alt=""
            />

            <div class="integration-box__info">
                <h4 class="integration-box--title paramount-text">Gmail</h4>
                <p class="integration-box--description secondary-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam alias
                    commodi blanditiis perferendis veniam. Perspiciatis nihil neque nostrum, eius
                </p>
            </div>
        </div>

        <div class="integration-box">
            <img
                src="/assets/images/integrations/instagram.webp"
                class="integration-box--image"
                alt=""
            />

            <div class="integration-box__info">
                <h4 class="integration-box--title paramount-text">Instagram</h4>
                <p class="integration-box--description secondary-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam alias
                    commodi blanditiis perferendis veniam. Perspiciatis nihil neque nostrum, eius
                </p>
            </div>
        </div>

        <div class="integration-box">
            <img
                src="/assets/images/integrations/facebook.webp"
                class="integration-box--image"
                alt=""
            />

            <div class="integration-box__info">
                <h4 class="integration-box--title paramount-text">Facebook</h4>
                <p class="integration-box--description secondary-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam alias
                    commodi blanditiis perferendis veniam. Perspiciatis nihil neque nostrum, eius
                </p>
            </div>
        </div>
    </div>
</section>
