.user-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-responsibles {
    min-width: 250px;
}

:host ::ng-deep {
    .users-multiselect {
        .p-multiselect-label {
            gap: 15px;
        }
    }
}
